P{
    text-align: center;
}
body {
    background: #e2970c;
    font-size: 20px;
}
h1 {text-align: center;
background: #dbd360;
}

b{
    color: blue;
}


h1{font-size: 40px;color: rgb(10, 12, 12);}
p{
    color: rgb(7, 134, 189);
}
i{
    font-size: 45px;
    color: #F4A7FC;

}